@inherits ComponentViewBase<ComponentRefModel>
@namespace OneStreamWebUI.Client.Dashboards
@using OneStreamWebUI.Mvvm.Toolkit
@using Microsoft.AspNetCore.Components.Authorization;
@using OneStream.Shared.Common;
@using OneStream.Shared.Wcf;
@using OneStreamWebUI.Shared;
@using System.Threading
@using System.Text.Json;
@using System.Diagnostics

<AuthorizeView>

	@if (Bind(x => x.DashboardComponent) == null)
	{
		<p><em>Loading...</em></p>
	}
	else
	{
		<div class="dashboard-grid-container d-flex h-100 w-100">
		
		</div>
	}

</AuthorizeView>

@code{

	[Parameter] public DashboardDisplayInfoEx DashboardDisplayInfoEx { get; set; }
    [Parameter] public XFWebDashboardsView WebDashboardsView { get; set; }
    [Parameter] public Dictionary<string, string> CustomSubstVars { get; set; }
}