<div class="my-component">
    This Blazor component is defined in the <strong>LazyComponent</strong> package.
</div>

@code
{

    public string GetMessage()
    {
        return "This is a message from Component1";
    }

}
